{% extends "base_site.html" %}
{% block content %}
<h1>Simple application</h1>
(deprecated: see view_application)
<p>
This is a default page used by the generic application:
<ul>
<li>simple_application
</ul>
The simple application allows to complete the activity
by just displaying an information page.
<p>
You may define a suitable template (the default is <i>simple_application.html</i>) with the <i>template</i> parameter
in the urls.py file as follows:
<pre>
    (r'^my/appli/simple_appli/$',
      'goflow.workflow.applications.simple_application',
      {'template':'mytemplate.html'}),
</pre>

This template can access the following variables:
<ul>
<li>instance: process instance
</ul>
<hr>
<p>
instance: {{instance}}
<hr>
<p>
Click on the OK button to complete the task:
<br>
<form method="post">
<input type="submit" name="{{ submit_name }}" value="{{ ok_value }}">
<input type="submit" name="{{ submit_name }}" value="Cancel">
</form>

{% endblock %}
