{% extends "admin/change_form.html" %}
{% block form_top %}
<p>
Put here a function that returns a user, given a workitem as parameter (more parameters with default values may be added).
<br>
This function will be searched in the module defined in settings.WF_PUSH_APPS_PREFIX
<p>example:
<p><i>in settings.py</i>
<pre>
WF_PUSH_APPS_PREFIX = 'leavedemo.leave.pushapplications'
</pre>
<p><i>in pushapplications.py</i>
<pre>
def route_to_customer(workitem):
    return workitem.instance.user
</pre>
<p>
You can use too prebuilt push applications defined in goflow.workflow.pushapps module.
{% endblock %}
