{% extends "goflow/edit_model.html" %}


{% block content_header %}
<h1>Check leave ability</h1>

To the secretary. You are requested to do the following thing at this stage:
<ol>
<li>Check that the dates are meaningful</li>
<li>Calculate the number of days this will take from annual leave</li>
<li>Check that the requester has the necessary amount of days in SIC</li>
</ol>

<table> 
<tr><td>Requester</td><td>{{ instance.user }}</td></tr>
<tr><td>Start date</td><td>{{ object.day_start }}</td></tr>
<tr><td>End date</td><td>{{ object.day_end }}</td></tr>
<tr><td>Reason</td><td>{{ object.reason }}</td></tr>
<tr><td>Type</td><td>{{ object.type }}</td></tr>
</table>

{% endblock %}
