<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}GoFlow Sample project{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/minimalistic/style.css" media="screen" />
</head>
<body>
<div id="header">
<h1>{% block main_title %}GoFlow sample project{% endblock %}</h1>

 <div id="menu">
  <ul id="nav">
   {% block nav_extra%}{% endblock %}
   <li><a href="/admin">admin</a></li>
   <li><a href="#">About Sample project</a></li>
   <li><a href="#">About GoFlow</a></li>
  </ul>
 </div>
</div>
<div id="content">

<div id="right">
{% block content %}
<h1>Lorem Ipsum</h1>
<a href><h2>Lorem Ipsum</h2></a>
<h3>Lorem Ipsum</h3>
<h4>Lorem Ipsum</h4>
<p>
<a href=>Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit. Suspendisse facilisis nisl quis erat. Quisque ac felis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eu turpis ut nisi fringilla feugiat. Vestibulum mollis elementum libero. Maecenas erat. Quisque auctor ultricies lacus. Mauris sollicitudin elit sed felis. Curabitur egestas suscipit lectus. Fusce tempor est quis lorem. Suspendisse bibendum, sem at luctus semper, ante lorem auctor diam, sit amet fringilla diam magna non metus. Ut eget nibh. Morbi felis eros, ultricies sed, auctor nec, tincidunt id, tellus. Maecenas eu massa. Donec gravida. Aliquam erat nisl, eleifend eget, aliquam ultricies, consectetuer in, orci.
</p>
<p>
Nunc commodo metus et lorem. Phasellus vel libero. Vestibulum eu enim. Mauris pharetra. Vestibulum ligula libero, vestibulum quis, commodo non, sagittis eget, elit. Ut nec tellus. Nunc ligula quam, vulputate ut, imperdiet nec, luctus at, magna. Nunc posuere nulla ac tortor. Donec facilisis, turpis eu hendrerit ultricies, lectus sapien nonummy justo, eget rutrum lorem nulla sed nunc. Nam vestibulum neque vitae lacus aliquam tristique. Ut odio quam, mollis in, ultrices vel, ullamcorper id, diam. Curabitur eget odio a lacus pulvinar condimentum. Suspendisse elementum.
</p>
<p>
Quisque vulputate. Aliquam condimentum, odio vel ultrices sodales, augue lorem vehicula mi, vel nonummy nisl eros et tortor. Duis laoreet pellentesque lorem. Nam sagittis condimentum libero. Nullam a ante vel massa accumsan elementum. Sed mauris metus, tincidunt quis, blandit at, viverra a, ligula. Pellentesque neque metus, mattis non, tincidunt vitae, euismod scelerisque, nulla. Fusce justo. Donec nec nibh. Sed suscipit bibendum leo. Nulla erat ligula, egestas consequat, sagittis ut, fermentum a, diam. Sed turpis est, aliquam nec, lacinia sed, aliquam non, libero. Ut turpis. Pellentesque viverra pharetra quam.
</p>
<p>
Aenean dapibus, leo vitae eleifend porta, sem ipsum nonummy est, eu fermentum arcu lectus in lacus. Vestibulum tristique metus eu lorem. Pellentesque sed erat. Morbi pharetra condimentum massa. Vestibulum vel nulla at eros porta tempus. Fusce at lorem. Nulla facilisis. Phasellus nisl. Integer id massa nec tellus rutrum pellentesque. Mauris orci mauris, dictum vitae, varius eget, vestibulum quis, risus. Pellentesque dictum, magna vitae pulvinar interdum, orci lacus posuere neque, et lacinia dui eros ut erat. Ut purus. Nullam ac tellus et eros condimentum interdum.
</p>
{% endblock %}
</div>
	
<div id="left">
    <div class="box">{% block top_box %}{% endblock %}</div>
    
    {% block boxes %}
	<div class="box">
			<h2>News :</h2>	
			<p>GoFlow gkDC CQD.</p>
	</div>
	{% endblock %}

	<div class="box">
		<h4>Language</h4>
		{% load flags_lib %}{% flags_form %}
	   <div style="font-size: 0.8em;">
	   internationalized by <a href="http://code.google.com/p/django-flags/">django-flags</a>
	   </div>
	</div>
			
	<div class="box">
				<h2>Links :</h2>
				<ul>
				<li><a href="">Django project</a></li>
				<li><a href="">GoFlow homepage</a></li>
				<li><a href="">GoFlow dev site</a></li>
				<li><a href="http://code.google.com/p/django-flags/">django-flags</a>
				</ul>
	</div>
		
    <div class="box">
	   <div style="font-size: 0.8em;">Design based on <i>minimalistic</i> from <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
	</div>
	
    <div class="logobox">
	&nbsp;<p><p>
	</div>
</div>
</div>
</body>
</html>